@import "reset";
@import "colors-fonts";
@import "modules/buttons"; // botones
@import "modules/carousel"; // bootstrap:carousel
@import "modules/owlcarousel"; // plugin:owlcarousel
@import "modules/modals"; // bootstrap:modal
@import "modules/elevatezoom"; // plugin:elevatezoom

// Default
body{
  background-color: $c-gr;
}
*{
  box-sizing: border-box;
  outline: 0px !important;
}

// Header
header{
  &.-ppal{
    width: 100%;
    height: 80px;
    background-color: $c-wh;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,.07);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.07);
    > ul{
      &.-list-actions{
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        float: right;
        li{
          width: auto;
          height: 100%;
          position: relative;
          float: left;
          margin-right: 30px;
          > .-logo{
            width: 180px;
            height: 100%;
            position: relative;
            img{
              width: 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          > .-search{
            width: 300px;
            height: 100%;
            position: relative;
            @media (max-width: 768px){
              width: auto;
            }
            > .form-group{
              width: 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              margin-bottom: 0;
              > input[type=text]{
                width: 100%;
                height: 40px;
                border: 1.3px solid $c-3;
                padding-right: 50px;
                padding-left: 10px;
                @media (max-width: 768px){
                  width: 1px;
                  float: right;
                  padding-left: 0;
                  padding-right: 0;
                }
              }
              > a{
                &.btn{
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  position: absolute;
                  padding: 0;
                  text-align: center;
                  right: 0;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Section
section{
  &.-banner{
    width: 100%;
    height: 620px;
    margin-bottom: 142px;
    position: relative;
    background-color: $c-wh;
  }
  &.-galleries{
    width: 100%;
    height: auto;
    padding: 100px 0;

    h3{
      width: 100%;
      font-size: 30px;
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      color: $c-gr3;
      strong,b{
        font-weight: 600;
      }
    }
    .-total-galleries{
      height: auto;
      margin: 0 auto;
      > ul{
        &.-list-total{
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center;
          li{
            width: auto;
            height: 50px;
            // background-color: rgba(0, 0, 0, 0.1);
            margin: 15px 0;
            position: relative;
            display: inline-block;
            .-icon{
              position: absolute;
              width: 50px;
              height: 50px;
              text-align: center;
              left: 0;
              top: 0;
              i{
                &.fa{
                  font-size: 25px;
                  line-height: 50px;
                  color: $c-gr3;
                }
              }
            }
            > span{
              line-height: 50px;
              padding: 0 10px 0 45px;
              font-size: 19px;
              color: $c-2;
              font-weight: 600;
            }
          }
        }
      }
    }
    .-search{
      width: 300px;
      height: 40px;
      margin: 0 auto 40px;
      position: relative;
      > .form-group{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0;
        > input[type=text]{
          width: 100%;
          height: 40px;
          border: 1.3px solid $c-3;
          padding-right: 50px;
          padding-left: 10px;
          background-color: transparent;
        }
        > a{
          &.btn{
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            padding: 0;
            text-align: center;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}

// footer
footer{
  &.-ppal{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $c-gr3;
    color: $c-wh;
    text-align: center;
  }
}

// Components
.-quick-access{
  position: fixed;
  width: auto;
  height: auto;
  top: 200px;
  left: 0;
  z-index: 999;
  > ul{
    &.-list-quick-access{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        width: auto;
        &:hover{
          a{
            margin-left: 0;
          }
        }
        a{
          display: block;
          width: auto;
          height: 50px;
          line-height: 50px;
          background-color: $c-1;
          color: $c-wh;
          font-size: 20px;
          text-decoration: none;
          position: relative;
          padding: 0 50px 0 10px;
          border-radius: 0 50px 50px 0;
          margin-left: -62px;
          transition: all .2s;
          -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
          box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
          i{
            &.fa{
              position: absolute;
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}
