.carousel{
  &.-banner{
    position: relative;
    height: 100%;
    .-content-indicators{
      width: 100%;
      height: 160px;
      position: relative;
      top: -18px;
      border-bottom: 2px solid $c-2;
      @media (max-width: 768px){
        top: -60px;
      }
      .-slide{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
      }

      .-control-slide{
        &-prev,&-next{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 70px;
          margin-top: 10px;
          line-height: 75px;
          text-align: center;
          width: 50px;
          background-color: $c-3;
          cursor: pointer;
          z-index: 99;
          &:hover{
            background-color: $c-3a;
          }
          i{
            &.fa{
              font-size: 25px;
            }
          }
        }
        &-prev{
          left: 0;
        }
        &-next{
          right: 0;
        }
      }
    }
    .carousel{
      &-indicators{
        position: absolute;
        bottom: 0;
        justify-content: flex-start;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
        background-color: $c-gr2;

        li{
          width: 270px;
          height: 140px;
          background-color: $c-gr2;
          margin-left: 0;
          margin-right: 0;
          flex: none;
          border-right: 2px solid rgba(0, 0, 0, 0.1);
          position: relative;
          text-indent: inherit;
          cursor: pointer;
          @media (max-width: 768px){
            width: 150px;
            height: 100px;
          }
          > .-message{
            width: 100%;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 100px;
            padding-right: 10px;
            position: absolute;
            color: $c-2;
            @media (max-width: 768px){
              padding-left: 50px;
              h3,p{
                display: -webkit-box;
                max-height: 40px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            h3{
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 10px;
            }
            p{
              font-size: 14px;
              font-weight: 400;
            }
          }
          > .-icons{
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 70px;
            height: auto;
            @media (max-width: 768px){
              width: 40px;
              left: 5px;
            }
            .-item{
              width: 50px;
              height: 50px;
              line-height: 60px;
              text-align: center;
              margin: 0 auto 10px;
              color: $c-2;
              @media (max-width: 768px){
                width: 30px;
                height: 30px;
                line-height: 30px;
              }
              &:last-child{
                margin: 0 auto;
              }
              i{
                &.fa{
                  font-size: 30px;
                  @media (max-width: 768px){
                    font-size: 23px;
                  }
                }
              }
            }
          }
          &:last-child{
            border-right: 0;
          }
          &.active{
            background-color: $c-2;
            cursor: default;
            > .-message{
              color: $c-wh;
            }
            > .-icons{
              .-item{
                color: $c-wh;
              }
            }
            &:before{
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 15px solid $c-2;
              position: absolute;
              left: 50%;
              top: -7px;
              transform: translateY(-50%);
            }
          }
        }
      }
      &-inner{
        height: 100%;
        .carousel{
          &-item{
            height: 100%;
            padding: 0 200px;
            @media (max-width: 768px){
              padding: 0 10px;
            }
            .row,.-d50-banner{
              height: 100%;
              position: relative;
              @media (max-width: 768px){
                height: 310px;
              }
            }
            .-d50-banner{
              width: 50%;
              @media (max-width: 768px){
                width: 100%;
              }
              > .-message{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 768px){
                  padding: 0 30px;
                }
                h2{
                  font-size: 30px;
                  font-weight: 600;
                  color: $c-2;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin-bottom: 20px;
                  @media (max-width: 768px){
                    font-size: 20px;
                  }
                }
                p{
                  font-size: 27px;
                  line-height: normal;
                  font-weight: 200;
                  color: rgba(0, 0, 0, 0.4);
                  @media (max-width: 768px){
                    font-size: 17px;
                  }
                }

                .-author{
                  width: auto;
                  height: 30px;
                  line-height: 30px;
                  margin: 40px 0;
                  .-text{
                    font-size: 17px;
                    font-weight: 200;
                    span{
                      border-top: 1.5px solid $c-2;
                      margin-right: 10px;
                    }
                    strong,b{
                      border-top: 1.5px solid $c-3;
                      font-weight: 600;
                    }
                    span,strong,b{
                      display: inline-block;
                    }
                  }
                }

                > ul{
                  &.-list-actions{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                      width: auto;
                      float: left;
                      height: 40px;
                      margin-right: 20px;
                      &:last-child{
                        margin-right: 0;
                      }
                      a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $c-drk;
                        &:hover{
                          text-decoration: none;
                        }
                        &.-yammer{
                          width: 40px;
                          border: 1.5px solid $c-drk;
                          padding: 7px;
                          border-radius: 50%;
                          img{
                            width: 100%;
                          }
                        }
                        &.-comment{
                          width: auto;
                          height: 40px;
                          line-height: 40px;
                          border: 1.1px solid rgba(0, 0, 0, 0.2);
                          padding: 0;
                          position: relative;
                          padding: 0 20px 0 50px;
                          &:hover{
                            background-color: $c-2;
                            border-color: $c-2;
                            color: $c-wh;
                            .-icon{
                              color: $c-wh;
                            }
                            span{
                              &.badge{
                                border: 1px solid $c-wh;
                              }
                            }
                          }
                          span{
                            &.badge{
                              width: 28px;
                              height: 28px;
                              line-height: 28px;
                              font-weight: 200;
                              padding: 0;
                              position: absolute;
                              top: -10px;
                              right: -10px;
                              font-size: 15px;
                              border-radius: 50%;
                              background-color: $c-2;
                              color: $c-wh;
                              border: 1px solid transparent;
                            }
                          }
                          .-icon{
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            top: 0;
                            left: 0;
                          }
                        }
                        &.-like{
                          width: 40px;
                          height: 40px;
                          position: relative;
                          &:hover,&.-active{
                            .-heart-full{
                              display: block;
                              i{
                                &.fa{
                                  color: $c-2;
                                }
                              }
                            }
                          }
                          .-heart-full{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: none;
                          }
                          i{
                            &.fa{
                              font-size: 40px;
                              position: absolute;
                              top: 0;
                              left: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              > .-image-bg{
                width: 100%;
                height: 100%;
                position: relative;
                @media (max-width: 768px){
                  margin: 0 auto;
                  top: 50%;
                  transform: translateY(-50%);
                }
                img{
                  &.-circle-bg{
                    width: 380px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    @media (max-width: 768px){
                      width: 230px;
                    }
                  }
                  &.-photo{
                    width: 330px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    @media (max-width: 768px){
                      width: 200px;
                    }
                  }
                }
              }
              > .-video-bg{
                width: 100%;
                height: 100%;
                position: relative;
                video,iframe{
                  width: 100%;
                  height: auto;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }
                video::-webkit-media-controls-enclosure {
                	padding: 0px;
                	height: 30px;
                  position: absolute;
                  bottom: 0;
                }

                video::-webkit-media-controls-panel {
                	margin-top: 1px;
                	height: 30px;
                	background-color: $c-drk;
                }

                video::-webkit-media-controls-volume-slider, video::-webkit-media-controls-timeline {
                	color: $c-wh;
                }

                video::-webkit-media-controls-timeline {
                  background-color: $c-wh;
                  opacity: .5;
                }

                video::-webkit-media-controls-volume-slider {
                  background-color: $c-wh;
                }

                video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display{
                  display: block;
                }

                video::-webkit-media-controls-volume-slider::-webkit-media-slider-container, video::-webkit-media-controls-timeline::-webkit-media-slider-container {
                	border: 0px;
                	border-radius: 5px;
                	background-color: $c-wh;
                	cursor: pointer;
                }

                ::-webkit-media-slider-thumb {
                	-webkit-appearance: none;
                	background: red;
                }

                video::-webkit-media-controls-play-button {
                  -webkit-appearance: none;
                	cursor: pointer;
                  background-color: transparent;
                	cursor: pointer;
                	background-image: url('../images/icons/play-w.png');
                	background-size: 16px 16px;
                	background-position: center 8px;
                	background-repeat: no-repeat;
                  opacity: 1;
                  &:hover{
                    opacity: .7;
                  }
                }

                video::-webkit-media-controls-fullscreen-button {
                	-webkit-appearance: none;
                	background-color: transparent;
                	cursor: pointer;
                	background-image: url('../images/icons/fullscreen-w.png');
                	background-size: 16px 16px;
                	background-position: center 8px;
                	background-repeat: no-repeat;
                  opacity: 1;
                  &:hover{
                    opacity: .7;
                  }
                }

                video::-webkit-media-controls-mute-button {
                	-webkit-appearance: none;
                	background-color: transparent;
                	cursor: pointer;
                  background-image: url('../images/icons/volume-w.png');
                	background-size: 16px 16px;
                	background-position: center 8px;
                	background-repeat: no-repeat;
                  opacity: 1;
                  &:hover{
                    opacity: .7;
                  }
                }

                video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
                	font-family: 'Lato', sans-serif;
                	font-size: 13px;
                	font-weight: normal;
                  color: $c-wh;
                }
              }
            }
          }
        }
      }
      &-control{
        &-prev,&-next{
          width: 110px;
          height: 100%;
          @media (max-width: 768px){
            width: 40px;
          }
          i{
            &.fa{
              font-size: 140px;
              color: $c-3;
              @media (max-width: 768px){
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }
}
