.modal{
  &.-comment{
    .modal{
      &-dialog{
        width: 700px;
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        @media (max-width: 768px){
          width: 100%;
        }
      }
      &-content{
        border-radius: 0;
      }
      &-header{
        background-color: $c-3;
        border-radius: 0;
        position: relative;
        h5{
          &.modal-title{
            color: $c-gr3;
            font-size: 20px;
            font-weight: 600;
          }
        }
        .close{
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          cursor: pointer;
          padding: 0;
          margin: 0;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      &-body{
        height: 420px;
        padding: 0;
        position: relative;
        @media (max-width: 768px){
          height: 440px;
        }
        .-activity{
          width: 50%;
          float: left;
          height: 100%;
          background-color: $c-gr2;
          padding: 20px;
          overflow-y: auto;
          overflow-x: hidden;
          @media (max-width: 768px){
            width: 100%;
            height: 250px;
          }
          > ul{
            &.-list-comments{
              list-style-type: none;
              margin: 0;
              padding: 0;
              li{
                width: 100%;
                height: auto;
                position: relative;
                padding: 0 0 20px;
                border-bottom: 1px solid $c-2;
                margin-bottom: 20px;
                &:last-child{
                  margin-bottom: 0;
                }
                h3{
                  font-size: 17px;
                  font-weight: 600;
                  color: $c-2;
                  margin-bottom: 5px;
                }
                h4{
                  font-size: 12px;
                  font-weight: 200;
                  color: rgba(0, 0, 0, .6);
                  margin-bottom: 10px;
                }
                p{
                  font-size: 14.5px;
                  font-weight: 200;
                  line-height: normal;
                  color: rgba(0, 0, 0, .8);
                }
              }
            }
          }
        }
        .-action-comment{
          width: 50%;
          float: right;
          height: 100%;
          padding: 20px;
          @media (max-width: 768px){
            width: 100%;
            height: 300px;
          }
          h2{
            font-size: 20px;
            font-weight: 600;
            color: $c-gr3;
            margin-bottom: 20px;
          }
          textarea{
            width: 100%;
            height: 150px;
            min-height: 150px;
            max-height: 250px;
            border: 1.2px solid $c-3;
            padding: 5px;
            margin-bottom: 20px;
            @media (max-width: 768px){
              width: 100%;
              height: 50px;
              max-height: 50px;
              min-height: 50px;
            }
          }
          .btn{
            float: right;
          }
        }
      }
    }
  }

  &.-gallery{
    .modal{
      &-dialog{
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        @media (max-width: 768px){
          overflow-y: auto;
        }
        .modal{
          &-content{
            height: 100%;
            border-radius: 0;
            border: 0;
            .modal{
              &-header{
                background-color: $c-3;
                color: $c-gr3;
                height: 60px;
                font-weight: 600;
                display: block;
                padding: 0 0 0 20px;
                position: absolute;
                width: 100%;
                z-index: 1;
                > ul{
                  &.-list-actions{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    float: right;
                    li{
                      float: left;
                      width: auto;
                      height: 60px;
                      line-height: 60px;
                      position: relative;
                      padding: 0 20px;
                      a{
                        display: block;
                        width: 100%;
                        height: 100%;
                      }
                      &.-icon{
                        width: 60px;
                        text-align: center;
                        padding: 0;
                        &.-c-2{
                          background-color: $c-2;
                          &:hover{
                            background-color: #0398b1;
                          }
                          i{
                            &.fa{
                              color: $c-wh;
                            }
                          }
                        }
                        &:hover{
                          background-color: rgba(0, 0, 0, 0.1);
                        }
                        i{
                          &.fa{
                            font-size: 20px;
                            color: $c-drk;
                          }
                        }
                      }
                    }
                  }
                }
                h5{
                  &.modal-title{
                    font-size: 25px;
                    float: left;
                    line-height: 60px;
                  }
                }
              }
              &-body{
                height: 100%;
                padding: 60px 0 0;
                position: relative;
                .-preview{
                  width: 55%;
                  height: 100%;
                  padding: 2px;
                  float: left;
                  position: relative;
                  @media (max-width: 768px){
                    height: 300px;
                    width: 100%;
                  }
                  img{
                    &.-hori{
                      position: absolute;
                      width: 100%;
                      height: auto;
                      top: 50%;
                      transform: translateY(-50%);
                      left: 0;
                    }
                    &.-vert{
                      position: absolute;
                      height: 100%;
                      width: auto;
                      top: 0;
                      left: 50%;
                      transform: translateX(-50%);
                    }
                  }
                }
                .-thumbs{
                  width: 45%;
                  height: 100%;
                  float: left;
                  overflow-y: auto;
                  overflow-x: hidden;
                  @media (max-width: 768px){
                    height: 200px;
                    width: 100%;
                  }
                  > ul{
                    &.-list-thumbs{
                      list-style-type: none;
                      margin: 0;
                      padding: 0;
                      text-align: center;
                      li{
                        position: relative;
                        width: 32.3%;
                        height: 140px;
                        display: inline-block;
                        background-color: rgba(0, 0, 0, 0.1);
                        margin-top: 2px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        a{
                          display: block;
                          width: 100%;
                          height: 100%;
                        }
                        &:nth-child(9n+1){
                          width: 20%;
                          height: 180px;
                        }
                        &:nth-child(9n+2){
                          width: 38.5%;
                          height: 180px;
                        }
                        &:nth-child(9n+3){
                          width: 38.5%;
                          height: 180px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
