.owl-carousel{
  &.-galleries{

    .-item{
      width: 100%;
      height: 330px;
      //background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      text-align: center;
      a{
        display: block;
        width: 100%;
        height: 100%;
        .-content-itemOwl{
          position: absolute;
          //top: 50%;
          //transform: translateY(-50%);
          bottom: 0;
          width: 100%;
          height: auto;
          .-item-header{
            width: 230px;
            height: 230px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 20px;
            .-category{
              position: absolute;
              top: -6px;
              width: auto;
              height: auto;
              left: 50%;
              transform: translateX(-50%);
              padding: 5px 8px;
              border-radius: 20px;
              font-weight: 200;
              text-transform: uppercase;
              font-size: 12px;
              margin-bottom: 20px;
              //letter-spacing: 1px;
              &.-c-1{ // blue
                background-color: $c-1;
                color: $c-wh;
              }
              &.-c-2{ // Aqua
                background-color: $c-2;
                color: $c-wh;
              }
              &.-c-3{ // Yellow
                background-color: $c-3;
                color: $c-gr3;
              }
            }
          }
          .-item-body{
            width: 100%;
            height: auto;
            padding: 0 60px;
            .-descrip{
              width: 100%;
              border-bottom: 1.2px solid transparent;
              &.-c-1{
                border-color: $c-1;
              }
              &.-c-2{
                border-color: $c-2;
              }
              &.-c-3{
                border-color: $c-3;
              }
              h2{
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
                color: $c-gr3;
              }
              h3{
                font-size: 14px;
                font-weight: 400;
                text-transform: initial;
                margin-bottom: 10px;
                color: $c-gr3;
              }
            }
          }
        }
      }

    }

    .owl{

      &-stage-outer{
        z-index: 11;
        .owl{
          &-item{
            z-index: 999999;
          }
        }
      }
      &-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .owl{
          &-prev,&-next{
            position: absolute;
            width: 50px;
            height: 100%;
            top: 0;
            z-index: 99999;
            i{
              &.fa{
                font-size: 70px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                color: $c-3;
              }
            }
          }
          &-prev{
            left: 0;
          }
          &-next{
            right: 0;
          }
        }
      }
    }
  }
}
