/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

* {
  box-sizing: border-box;
  outline: none !important;
  box-sizing: border-box; }
  *::after {
    content: "";
    display: block;
    clear: both; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  border-radius: 0;
  border: none; }
  .btn.-c-3 {
    background-color: #e3e829;
    color: #333; }

.carousel.-banner {
  position: relative;
  height: 100%; }
  .carousel.-banner .-content-indicators {
    width: 100%;
    height: 160px;
    position: relative;
    top: -18px;
    border-bottom: 2px solid #03C1E1; }
    @media (max-width: 768px) {
      .carousel.-banner .-content-indicators {
        top: -60px; } }
    .carousel.-banner .-content-indicators .-slide {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
    .carousel.-banner .-content-indicators .-control-slide-prev, .carousel.-banner .-content-indicators .-control-slide-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 70px;
      margin-top: 10px;
      line-height: 75px;
      text-align: center;
      width: 50px;
      background-color: #e3e829;
      cursor: pointer;
      z-index: 99; }
      .carousel.-banner .-content-indicators .-control-slide-prev:hover, .carousel.-banner .-content-indicators .-control-slide-next:hover {
        background-color: #c1c523; }
      .carousel.-banner .-content-indicators .-control-slide-prev i.fa, .carousel.-banner .-content-indicators .-control-slide-next i.fa {
        font-size: 25px; }
    .carousel.-banner .-content-indicators .-control-slide-prev {
      left: 0; }
    .carousel.-banner .-content-indicators .-control-slide-next {
      right: 0; }
  .carousel.-banner .carousel-indicators {
    position: absolute;
    bottom: 0;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
    background-color: #f1f1f1; }
    .carousel.-banner .carousel-indicators li {
      width: 270px;
      height: 140px;
      background-color: #f1f1f1;
      margin-left: 0;
      margin-right: 0;
      flex: none;
      border-right: 2px solid rgba(0, 0, 0, 0.1);
      position: relative;
      text-indent: inherit;
      cursor: pointer; }
      @media (max-width: 768px) {
        .carousel.-banner .carousel-indicators li {
          width: 150px;
          height: 100px; } }
      .carousel.-banner .carousel-indicators li > .-message {
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 100px;
        padding-right: 10px;
        position: absolute;
        color: #03C1E1; }
        @media (max-width: 768px) {
          .carousel.-banner .carousel-indicators li > .-message {
            padding-left: 50px; }
            .carousel.-banner .carousel-indicators li > .-message h3, .carousel.-banner .carousel-indicators li > .-message p {
              display: -webkit-box;
              max-height: 40px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis; } }
        .carousel.-banner .carousel-indicators li > .-message h3 {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 10px; }
        .carousel.-banner .carousel-indicators li > .-message p {
          font-size: 14px;
          font-weight: 400; }
      .carousel.-banner .carousel-indicators li > .-icons {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: auto; }
        @media (max-width: 768px) {
          .carousel.-banner .carousel-indicators li > .-icons {
            width: 40px;
            left: 5px; } }
        .carousel.-banner .carousel-indicators li > .-icons .-item {
          width: 50px;
          height: 50px;
          line-height: 60px;
          text-align: center;
          margin: 0 auto 10px;
          color: #03C1E1; }
          @media (max-width: 768px) {
            .carousel.-banner .carousel-indicators li > .-icons .-item {
              width: 30px;
              height: 30px;
              line-height: 30px; } }
          .carousel.-banner .carousel-indicators li > .-icons .-item:last-child {
            margin: 0 auto; }
          .carousel.-banner .carousel-indicators li > .-icons .-item i.fa {
            font-size: 30px; }
            @media (max-width: 768px) {
              .carousel.-banner .carousel-indicators li > .-icons .-item i.fa {
                font-size: 23px; } }
      .carousel.-banner .carousel-indicators li:last-child {
        border-right: 0; }
      .carousel.-banner .carousel-indicators li.active {
        background-color: #03C1E1;
        cursor: default; }
        .carousel.-banner .carousel-indicators li.active > .-message {
          color: #fff; }
        .carousel.-banner .carousel-indicators li.active > .-icons .-item {
          color: #fff; }
        .carousel.-banner .carousel-indicators li.active:before {
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #03C1E1;
          position: absolute;
          left: 50%;
          top: -7px;
          transform: translateY(-50%); }
  .carousel.-banner .carousel-inner {
    height: 100%; }
    .carousel.-banner .carousel-inner .carousel-item {
      height: 100%;
      padding: 0 200px; }
      @media (max-width: 768px) {
        .carousel.-banner .carousel-inner .carousel-item {
          padding: 0 10px; } }
      .carousel.-banner .carousel-inner .carousel-item .row, .carousel.-banner .carousel-inner .carousel-item .-d50-banner {
        height: 100%;
        position: relative; }
        @media (max-width: 768px) {
          .carousel.-banner .carousel-inner .carousel-item .row, .carousel.-banner .carousel-inner .carousel-item .-d50-banner {
            height: 310px; } }
      .carousel.-banner .carousel-inner .carousel-item .-d50-banner {
        width: 50%; }
        @media (max-width: 768px) {
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner {
            width: 100%; } }
        .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
          @media (max-width: 768px) {
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message {
              padding: 0 30px; } }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message h2 {
            font-size: 30px;
            font-weight: 600;
            color: #03C1E1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px; }
            @media (max-width: 768px) {
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message h2 {
                font-size: 20px; } }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message p {
            font-size: 27px;
            line-height: normal;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.4); }
            @media (max-width: 768px) {
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message p {
                font-size: 17px; } }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author {
            width: auto;
            height: 30px;
            line-height: 30px;
            margin: 40px 0; }
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text {
              font-size: 17px;
              font-weight: 200; }
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text span {
                border-top: 1.5px solid #03C1E1;
                margin-right: 10px; }
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text strong, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text b {
                border-top: 1.5px solid #e3e829;
                font-weight: 600; }
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text span, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text strong, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message .-author .-text b {
                display: inline-block; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions {
            list-style-type: none;
            margin: 0;
            padding: 0; }
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li {
              width: auto;
              float: left;
              height: 40px;
              margin-right: 20px; }
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li:last-child {
                margin-right: 0; }
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a {
                display: block;
                width: 100%;
                height: 100%;
                color: #333; }
                .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a:hover {
                  text-decoration: none; }
                .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-yammer {
                  width: 40px;
                  border: 1.5px solid #333;
                  padding: 7px;
                  border-radius: 50%; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-yammer img {
                    width: 100%; }
                .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment {
                  width: auto;
                  height: 40px;
                  line-height: 40px;
                  border: 1.1px solid rgba(0, 0, 0, 0.2);
                  padding: 0;
                  position: relative;
                  padding: 0 20px 0 50px; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment:hover {
                    background-color: #03C1E1;
                    border-color: #03C1E1;
                    color: #fff; }
                    .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment:hover .-icon {
                      color: #fff; }
                    .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment:hover span.badge {
                      border: 1px solid #fff; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment span.badge {
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    font-weight: 200;
                    padding: 0;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    font-size: 15px;
                    border-radius: 50%;
                    background-color: #03C1E1;
                    color: #fff;
                    border: 1px solid transparent; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-comment .-icon {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    top: 0;
                    left: 0; }
                .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like {
                  width: 40px;
                  height: 40px;
                  position: relative; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like:hover .-heart-full, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like.-active .-heart-full {
                    display: block; }
                    .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like:hover .-heart-full i.fa, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like.-active .-heart-full i.fa {
                      color: #03C1E1; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like .-heart-full {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none; }
                  .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-message > ul.-list-actions li a.-like i.fa {
                    font-size: 40px;
                    position: absolute;
                    top: 0;
                    left: 0; }
        .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg {
          width: 100%;
          height: 100%;
          position: relative; }
          @media (max-width: 768px) {
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg {
              margin: 0 auto;
              top: 50%;
              transform: translateY(-50%); } }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg img.-circle-bg {
            width: 380px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%); }
            @media (max-width: 768px) {
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg img.-circle-bg {
                width: 230px; } }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg img.-photo {
            width: 330px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%); }
            @media (max-width: 768px) {
              .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-image-bg img.-photo {
                width: 200px; } }
        .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg {
          width: 100%;
          height: 100%;
          position: relative; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg iframe {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-enclosure {
            padding: 0px;
            height: 30px;
            position: absolute;
            bottom: 0; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-panel {
            margin-top: 1px;
            height: 30px;
            background-color: #333; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-volume-slider, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-timeline {
            color: #fff; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-timeline {
            background-color: #fff;
            opacity: .5; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-volume-slider {
            background-color: #fff; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-current-time-display, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-time-remaining-display {
            display: block; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-volume-slider::-webkit-media-slider-container, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-timeline::-webkit-media-slider-container {
            border: 0px;
            border-radius: 5px;
            background-color: #fff;
            cursor: pointer; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg ::-webkit-media-slider-thumb {
            -webkit-appearance: none;
            background: red; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-play-button {
            -webkit-appearance: none;
            cursor: pointer;
            background-color: transparent;
            cursor: pointer;
            background-image: url("../images/icons/play-w.png");
            background-size: 16px 16px;
            background-position: center 8px;
            background-repeat: no-repeat;
            opacity: 1; }
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-play-button:hover {
              opacity: .7; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-fullscreen-button {
            -webkit-appearance: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url("../images/icons/fullscreen-w.png");
            background-size: 16px 16px;
            background-position: center 8px;
            background-repeat: no-repeat;
            opacity: 1; }
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-fullscreen-button:hover {
              opacity: .7; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-mute-button {
            -webkit-appearance: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url("../images/icons/volume-w.png");
            background-size: 16px 16px;
            background-position: center 8px;
            background-repeat: no-repeat;
            opacity: 1; }
            .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-mute-button:hover {
              opacity: .7; }
          .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-current-time-display, .carousel.-banner .carousel-inner .carousel-item .-d50-banner > .-video-bg video::-webkit-media-controls-time-remaining-display {
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            font-weight: normal;
            color: #fff; }
  .carousel.-banner .carousel-control-prev, .carousel.-banner .carousel-control-next {
    width: 110px;
    height: 100%; }
    @media (max-width: 768px) {
      .carousel.-banner .carousel-control-prev, .carousel.-banner .carousel-control-next {
        width: 40px; } }
    .carousel.-banner .carousel-control-prev i.fa, .carousel.-banner .carousel-control-next i.fa {
      font-size: 140px;
      color: #e3e829; }
      @media (max-width: 768px) {
        .carousel.-banner .carousel-control-prev i.fa, .carousel.-banner .carousel-control-next i.fa {
          font-size: 40px; } }

.owl-carousel.-galleries .-item {
  width: 100%;
  height: 330px;
  position: relative;
  text-align: center; }
  .owl-carousel.-galleries .-item a {
    display: block;
    width: 100%;
    height: 100%; }
    .owl-carousel.-galleries .-item a .-content-itemOwl {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto; }
      .owl-carousel.-galleries .-item a .-content-itemOwl .-item-header {
        width: 230px;
        height: 230px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px; }
        .owl-carousel.-galleries .-item a .-content-itemOwl .-item-header .-category {
          position: absolute;
          top: -6px;
          width: auto;
          height: auto;
          left: 50%;
          transform: translateX(-50%);
          padding: 5px 8px;
          border-radius: 20px;
          font-weight: 200;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 20px; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-header .-category.-c-1 {
            background-color: #0039a6;
            color: #fff; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-header .-category.-c-2 {
            background-color: #03C1E1;
            color: #fff; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-header .-category.-c-3 {
            background-color: #e3e829;
            color: #6f706a; }
      .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body {
        width: 100%;
        height: auto;
        padding: 0 60px; }
        .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip {
          width: 100%;
          border-bottom: 1.2px solid transparent; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip.-c-1 {
            border-color: #0039a6; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip.-c-2 {
            border-color: #03C1E1; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip.-c-3 {
            border-color: #e3e829; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip h2 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #6f706a; }
          .owl-carousel.-galleries .-item a .-content-itemOwl .-item-body .-descrip h3 {
            font-size: 14px;
            font-weight: 400;
            text-transform: initial;
            margin-bottom: 10px;
            color: #6f706a; }
.owl-carousel.-galleries .owl-stage-outer {
  z-index: 11; }
  .owl-carousel.-galleries .owl-stage-outer .owl-item {
    z-index: 999999; }
.owl-carousel.-galleries .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .owl-carousel.-galleries .owl-nav .owl-prev, .owl-carousel.-galleries .owl-nav .owl-next {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 99999; }
    .owl-carousel.-galleries .owl-nav .owl-prev i.fa, .owl-carousel.-galleries .owl-nav .owl-next i.fa {
      font-size: 70px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: #e3e829; }
  .owl-carousel.-galleries .owl-nav .owl-prev {
    left: 0; }
  .owl-carousel.-galleries .owl-nav .owl-next {
    right: 0; }

.modal.-comment .modal-dialog {
  width: 700px;
  max-width: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }
  @media (max-width: 768px) {
    .modal.-comment .modal-dialog {
      width: 100%; } }
.modal.-comment .modal-content {
  border-radius: 0; }
.modal.-comment .modal-header {
  background-color: #e3e829;
  border-radius: 0;
  position: relative; }
  .modal.-comment .modal-header h5.modal-title {
    color: #6f706a;
    font-size: 20px;
    font-weight: 600; }
  .modal.-comment .modal-header .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    padding: 0;
    margin: 0; }
    .modal.-comment .modal-header .close:hover {
      background-color: rgba(0, 0, 0, 0.1); }
.modal.-comment .modal-body {
  height: 420px;
  padding: 0;
  position: relative; }
  @media (max-width: 768px) {
    .modal.-comment .modal-body {
      height: 440px; } }
  .modal.-comment .modal-body .-activity {
    width: 50%;
    float: left;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden; }
    @media (max-width: 768px) {
      .modal.-comment .modal-body .-activity {
        width: 100%;
        height: 250px; } }
    .modal.-comment .modal-body .-activity > ul.-list-comments {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .modal.-comment .modal-body .-activity > ul.-list-comments li {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0 0 20px;
        border-bottom: 1px solid #03C1E1;
        margin-bottom: 20px; }
        .modal.-comment .modal-body .-activity > ul.-list-comments li:last-child {
          margin-bottom: 0; }
        .modal.-comment .modal-body .-activity > ul.-list-comments li h3 {
          font-size: 17px;
          font-weight: 600;
          color: #03C1E1;
          margin-bottom: 5px; }
        .modal.-comment .modal-body .-activity > ul.-list-comments li h4 {
          font-size: 12px;
          font-weight: 200;
          color: rgba(0, 0, 0, 0.6);
          margin-bottom: 10px; }
        .modal.-comment .modal-body .-activity > ul.-list-comments li p {
          font-size: 14.5px;
          font-weight: 200;
          line-height: normal;
          color: rgba(0, 0, 0, 0.8); }
  .modal.-comment .modal-body .-action-comment {
    width: 50%;
    float: right;
    height: 100%;
    padding: 20px; }
    @media (max-width: 768px) {
      .modal.-comment .modal-body .-action-comment {
        width: 100%;
        height: 300px; } }
    .modal.-comment .modal-body .-action-comment h2 {
      font-size: 20px;
      font-weight: 600;
      color: #6f706a;
      margin-bottom: 20px; }
    .modal.-comment .modal-body .-action-comment textarea {
      width: 100%;
      height: 150px;
      min-height: 150px;
      max-height: 250px;
      border: 1.2px solid #e3e829;
      padding: 5px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .modal.-comment .modal-body .-action-comment textarea {
          width: 100%;
          height: 50px;
          max-height: 50px;
          min-height: 50px; } }
    .modal.-comment .modal-body .-action-comment .btn {
      float: right; }
.modal.-gallery .modal-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0; }
  @media (max-width: 768px) {
    .modal.-gallery .modal-dialog {
      overflow-y: auto; } }
  .modal.-gallery .modal-dialog .modal-content {
    height: 100%;
    border-radius: 0;
    border: 0; }
    .modal.-gallery .modal-dialog .modal-content .modal-header {
      background-color: #e3e829;
      color: #6f706a;
      height: 60px;
      font-weight: 600;
      display: block;
      padding: 0 0 0 20px;
      position: absolute;
      width: 100%;
      z-index: 1; }
      .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right; }
        .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li {
          float: left;
          width: auto;
          height: 60px;
          line-height: 60px;
          position: relative;
          padding: 0 20px; }
          .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li a {
            display: block;
            width: 100%;
            height: 100%; }
          .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon {
            width: 60px;
            text-align: center;
            padding: 0; }
            .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon.-c-2 {
              background-color: #03C1E1; }
              .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon.-c-2:hover {
                background-color: #0398b1; }
              .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon.-c-2 i.fa {
                color: #fff; }
            .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon:hover {
              background-color: rgba(0, 0, 0, 0.1); }
            .modal.-gallery .modal-dialog .modal-content .modal-header > ul.-list-actions li.-icon i.fa {
              font-size: 20px;
              color: #333; }
      .modal.-gallery .modal-dialog .modal-content .modal-header h5.modal-title {
        font-size: 25px;
        float: left;
        line-height: 60px; }
    .modal.-gallery .modal-dialog .modal-content .modal-body {
      height: 100%;
      padding: 60px 0 0;
      position: relative; }
      .modal.-gallery .modal-dialog .modal-content .modal-body .-preview {
        width: 55%;
        height: 100%;
        padding: 2px;
        float: left;
        position: relative; }
        @media (max-width: 768px) {
          .modal.-gallery .modal-dialog .modal-content .modal-body .-preview {
            height: 300px;
            width: 100%; } }
        .modal.-gallery .modal-dialog .modal-content .modal-body .-preview img.-hori {
          position: absolute;
          width: 100%;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
          left: 0; }
        .modal.-gallery .modal-dialog .modal-content .modal-body .-preview img.-vert {
          position: absolute;
          height: 100%;
          width: auto;
          top: 0;
          left: 50%;
          transform: translateX(-50%); }
      .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs {
        width: 45%;
        height: 100%;
        float: left;
        overflow-y: auto;
        overflow-x: hidden; }
        @media (max-width: 768px) {
          .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs {
            height: 200px;
            width: 100%; } }
        .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center; }
          .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs li {
            position: relative;
            width: 32.3%;
            height: 140px;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.1);
            margin-top: 2px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; }
            .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs li a {
              display: block;
              width: 100%;
              height: 100%; }
            .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs li:nth-child(9n+1) {
              width: 20%;
              height: 180px; }
            .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs li:nth-child(9n+2) {
              width: 38.5%;
              height: 180px; }
            .modal.-gallery .modal-dialog .modal-content .modal-body .-thumbs > ul.-list-thumbs li:nth-child(9n+3) {
              width: 38.5%;
              height: 180px; }

.zoomContainer {
  z-index: 1051; }
  .zoomContainer .zoomLens {
    position: absolute;
    width: 45%;
    right: 0;
    top: 0;
    height: 100%; }

body {
  background-color: #ecf1f3; }

* {
  box-sizing: border-box;
  outline: 0px !important; }

header.-ppal {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07); }
  header.-ppal > ul.-list-actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    float: right; }
    header.-ppal > ul.-list-actions li {
      width: auto;
      height: 100%;
      position: relative;
      float: left;
      margin-right: 30px; }
      header.-ppal > ul.-list-actions li > .-logo {
        width: 180px;
        height: 100%;
        position: relative; }
        header.-ppal > ul.-list-actions li > .-logo img {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      header.-ppal > ul.-list-actions li > .-search {
        width: 300px;
        height: 100%;
        position: relative; }
        @media (max-width: 768px) {
          header.-ppal > ul.-list-actions li > .-search {
            width: auto; } }
        header.-ppal > ul.-list-actions li > .-search > .form-group {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-bottom: 0; }
          header.-ppal > ul.-list-actions li > .-search > .form-group > input[type=text] {
            width: 100%;
            height: 40px;
            border: 1.3px solid #e3e829;
            padding-right: 50px;
            padding-left: 10px; }
            @media (max-width: 768px) {
              header.-ppal > ul.-list-actions li > .-search > .form-group > input[type=text] {
                width: 1px;
                float: right;
                padding-left: 0;
                padding-right: 0; } }
          header.-ppal > ul.-list-actions li > .-search > .form-group > a.btn {
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            padding: 0;
            text-align: center;
            right: 0;
            top: 0; }

section.-banner {
  width: 100%;
  height: 620px;
  margin-bottom: 142px;
  position: relative;
  background-color: #fff; }
section.-galleries {
  width: 100%;
  height: auto;
  padding: 100px 0; }
  section.-galleries h3 {
    width: 100%;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    color: #6f706a; }
    section.-galleries h3 strong, section.-galleries h3 b {
      font-weight: 600; }
  section.-galleries .-total-galleries {
    height: auto;
    margin: 0 auto; }
    section.-galleries .-total-galleries > ul.-list-total {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
      section.-galleries .-total-galleries > ul.-list-total li {
        width: auto;
        height: 50px;
        margin: 15px 0;
        position: relative;
        display: inline-block; }
        section.-galleries .-total-galleries > ul.-list-total li .-icon {
          position: absolute;
          width: 50px;
          height: 50px;
          text-align: center;
          left: 0;
          top: 0; }
          section.-galleries .-total-galleries > ul.-list-total li .-icon i.fa {
            font-size: 25px;
            line-height: 50px;
            color: #6f706a; }
        section.-galleries .-total-galleries > ul.-list-total li > span {
          line-height: 50px;
          padding: 0 10px 0 45px;
          font-size: 19px;
          color: #03C1E1;
          font-weight: 600; }
  section.-galleries .-search {
    width: 300px;
    height: 40px;
    margin: 0 auto 40px;
    position: relative; }
    section.-galleries .-search > .form-group {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0; }
      section.-galleries .-search > .form-group > input[type=text] {
        width: 100%;
        height: 40px;
        border: 1.3px solid #e3e829;
        padding-right: 50px;
        padding-left: 10px;
        background-color: transparent; }
      section.-galleries .-search > .form-group > a.btn {
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        padding: 0;
        text-align: center;
        right: 0;
        top: 0; }

footer.-ppal {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #6f706a;
  color: #fff;
  text-align: center; }

.-quick-access {
  position: fixed;
  width: auto;
  height: auto;
  top: 200px;
  left: 0;
  z-index: 999; }
  .-quick-access > ul.-list-quick-access {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .-quick-access > ul.-list-quick-access li {
      width: auto; }
      .-quick-access > ul.-list-quick-access li:hover a {
        margin-left: 0; }
      .-quick-access > ul.-list-quick-access li a {
        display: block;
        width: auto;
        height: 50px;
        line-height: 50px;
        background-color: #0039a6;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        position: relative;
        padding: 0 50px 0 10px;
        border-radius: 0 50px 50px 0;
        margin-left: -62px;
        transition: all .2s;
        -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3); }
        .-quick-access > ul.-list-quick-access li a i.fa {
          position: absolute;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          top: 0;
          right: 0; }

/*# sourceMappingURL=styles.css.map */
